@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #45405a;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    /* background-color: #eee; */
    line-height: 1.4;
    color: var(--dark);
    overflow-x: hidden;
    /* justify-content: center; */
    /* align-items: center; */
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
.navbar{ 
    /* background: #686188; */
    /* background: #45405a; */
    /* background: #393746; */
    /* background: rgba(238, 238, 238, 0.068);
    background-color: #393746; */
    background-color: #0b4377;
    padding: 0px;
    margin-top: -30px;
}
.navbar-brand img{
    width: 120px;
    margin-left: 49px;
}
.navbar-nav{
    padding: 0.3rem 0 0.15rem 0;
    text-align: center;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.5;
    
}

.contact{
    position: relative;
    min-height: 80vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #eee ;  */
    /* background-image: url('/images/homePage/bg3.png'); */
    background-image: url('../images/homePage/bg2.jpeg');
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
    color: rgb(80, 79, 79);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .box .text .social-handles{
	padding-top: 0px;
}
.container .box .text  .social-handles a{
	display: inline-block;
	height: 42px;
	width: 42px;
	background-color: #ffffff;
	color:#000000;
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 42px;
	font-size:16px;
	transition: all .5s ease;
}

.container .box .text  .social-handles a:hover{
	box-shadow: 0 0 10px #000;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 40px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-weight: 500;
}

.container .contactInfo .box .text h3 {
    font-weight: 800;
    color: #065096;
    margin-bottom: 20px;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span, 
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span, 
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    /* background: #726a95; */
    background: #065096;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5%;
}

@media (max-width: 600px) {
    .contact {
        padding: 50px;
    }
    .content h2{
        font-size: 2rem;
    }

    .container {
        flex-direction:  column;
    }
    .container .contactInfo {
        margin-bottom: 40px;
    }
    .container .contactInfo, .contactForm {
        /* width: 100%; */
        width: 70%;
        height: 70%;
    }
}

/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}