@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #45405a;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
    background-image: url('../images/homePage/bg2.jpeg');
    overflow-x: hidden;
}
img{
    width: 100%;
    display: block;
}
/* .container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
} */

.container {
    max-width: 1320px;
    width: 100%;
    margin: auto;
  }

/* header */
.navbar{ 
    background-color: #0b4377;
    padding: 0px;
}
.navbar-brand img{
    width: 120px;
    margin-left: 54px;
}
.navbar-nav{
    padding: 0.3rem 0 0.15rem 0;
    text-align: center;
    margin-right: 5px;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.5;
    
}

.text {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 1200;
    margin-top: 225px;
    transform: skew(-12deg);
    /* text-decoration: underline; */
}

.header{
    min-height: 110vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url('../images/homePage/Aiche\ snap.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 75px;
}

.slider {
    position: relative;
    width: 83%;
    overflow: hidden;
    margin-left: 120px; 
    margin-top: 30px;
    margin-bottom: 90px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid #0b4377;
}

.images {
    display: flex;
    width: 100%;
}

.images img{
    width: 100%;
    transition: all 0.15s ease;
}

.images input{
    display: none;
}

.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #393746 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dots label:hover {background: #393746;}

#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}

/* About us  */
.about {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: -50px;
}

h2 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 1000;
    margin-top: 20px;
    transform: skew(-12deg);
    border-top: 3px solid #065096;;
    padding-top: 50px;
}

p {
    text-align: justify;
    padding: 40px;
    font-size: 25px;
    font-weight: 500;
}

/* events */

.features{
    width: 85%;
    margin: auto;
   text-align: center;
   padding-top: 100px;
   margin-bottom: -50px;
}

.features p{
   font-size: 16px;
   font-weight: 600;
   line-height: 22px;
   padding: 10px;
}
.row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
}
.feature-col{
   flex-basis: 31%;
   /* background: #bbb5d4; */
   background: #5e8db9;
   border-radius: 20px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;
   color: #fff;
}

.readmore{
    color: rgb(53, 53, 211);
}

.features h3{
   text-align: center;
   font-weight: 1000;
   margin: 10px 0;
   height: 50px;
   text-decoration: underline 2px;
}
.feature-col:hover{
   /* box-shadow: 0 0 10px 0px rgb(0, 0, 0); */
   background-color: #486c8d;
   color: #fff;
}

.features h4 {
    margin-top: 70px;
    font-size: 25px;
}

/*.feature-col a {
    color: inherit;
}/*

@media(max-width: 700px) {
   .row{
       flex-direction: column;
   }
}

/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 29%;
  margin-top: 25%;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #0b4377;
  border-radius: 10px;
}

/*.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #4b7ae04d;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}*/

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover{
    font-size: 20px;
font-weight: bold;
padding-top: 15px;

}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* footer */
footer{
    background: var(--exDark);
    color: #fff;
    background-color: #0b4377;
    text-align: center;
    padding: 1rem 0;
    margin-top: 50px;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}
.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
    font-size: 30px;
}

/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}
